<header>
    <div class="container">
        <div class="columns <%= columns.one %>">
            <h1>
                <%= title %>
            </h1>
        </div>
        <div class="columns <%= columns.two %>">

        </div>
    </div>
</header>